<header>
    <nav>
        <a href="/">Mylbrary</a>
        <ul>
            <li><a href="/author">Authors</a></li>
            <li><a href="/author/new">Add Authors</a></li>
            <li><a href="/books">Books</a></li>
            <li><a href="/books/new">Add Book</a></li>
        </ul>
    </nav>
</header>