<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyLbrary</title>
</head>
<body>
    Before
    <br>
    <%- body %><!--wiil include every single other of our pages right in here in the body page-->
    <br>
    After

</body>
</html>